.web-name {
  display: inline-block;
  font-size: 27px;
}

.navigation {
  text-align: right;
  display: inline-block;
  float: right;
  border-top: 15px solid rgba(0, 0, 0, 0);
}

.homeicon {
  margin-right: 20px;
}

.exploreicon {
  margin-right: 20px;
  margin-top: 0px;
}

.whatshoticon {
  margin-right: 20px;
  margin-top: 0px;
}

.infoicon {
  margin-top: 0px;
}

.title-post {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.header {
  background-color: white;
}