.title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.profile-card {
    display: flex;
    border: none;
    width: 500px;
    padding: 10px;
   
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

}

.img-profile {
    width: 200px;
    height: 150px;
    margin-right: 20px;
}

.img-profile img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-left: 10px;
}

.isi {
    flex: 1;
}

.isi p.fullName {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #3d4a4e;
    margin-bottom: 16px;
}

.isi p.email {
    margin: 0px;
    font-size: 16px;
    color: #4a4a4a;
}